@media only screen and (max-width: 500px) {

    html {
        font-size: 5px;
    }
    
    .game {
        height: 350px;
        width: 400px;
        
    }

    .btn {
        left: 10%;
        bottom: 18%;
        width: 80%;
    }

    .h2 {
        left: 15%;
        font-size: 5rem;
    }

    .h3 {
        left: 30%;
        font-size: 5rem;
    }

    .end {
        font-size: 10rem;
        top: 52%;
    }
}